@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* Override fonts */
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: 'JetBrains Mono', monospace;

  --color-green-50: #ff00ff;
  --color-green-100: #ff00ff;
  --color-green-200: #ff00ff;
  --color-green-300: #ff00ff;
  --color-green-400: #ff00ff;
  --color-green-500: #ff00ff;
  --color-green-600: #ff00ff;
  --color-green-700: #ff00ff;
  --color-green-800: #ff00ff;
  --color-green-900: #ff00ff;
  --color-green-950: #ff00ff;
}